.colorBar{
    padding: 2px;
    margin: 10px;
    height: 16vh;
    width: 100%;
    border-radius: 10px;
    font-weight: 800;
    font-size: x-large;
    color: rgb(50, 70, 0);
    text-transform: uppercase;

}

.colorLabel{
    font-weight: bolder;
    font-size: xx-large;
}

.gameBodyRow{
    background-color: #D3F6DB;
    border-radius: 5px;
}