.colorBar{
    padding: 2px;
    margin: 10px;
    height: 16vh;
    width: 100%;
    border-radius: 10px;
    font-weight: 800;
    font-size: x-large;
    color: rgb(50, 70, 0);
    text-transform: uppercase;

}
